.ipynb_checkpoints
reqs/*
data/CNN_test.csv
dataset-loslagos-8months.csv
message.txt



# diarios
data/scraping/001-elmercurio.ipynb
data/scraping/002-lun.ipynb
data/scraping/004-lasegunda.ipynb
data/scraping/007-hoyxhoy.ipynb
data/scraping/024-labrador.ipynb
data/scraping/025-estrellaiquique.ipynb
data/scraping/031-la-kalle.ipynb
data/scraping/073-los-andes-online.ipynb
